.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #181616;
  opacity: 0.75;
  z-index: 2;
}

.modal-child{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Roboto', sans-serif;
  height: 50%;
  width: 50%;
  background-color: black;
  z-index: 3;
}

.about-container {
  position: relative;
  padding: 15px 25px;
}

.about-header {
  text-align: center;
  font-size: 43px;
}

.about-subheader {
  margin-bottom: 3px;
  font-size: 21px;
}

.about-subheader::after {
  content: "";
  border: 1px solid #797979;
  width: 100%;
  display: block;
}

section {
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

.close-about-container {
  font-size: 23px;
  position: absolute;
  top: 0;
  right: 8px;
  cursor: pointer;
}


.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #181616;
  z-index: -1;
}

.title-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -150%);
  color: white;
  font-family: 'Roboto', sans-serif;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-wrapper.hide {
  display: none;
  z-index: -1;
}

.title {
  font-size: 62px;
  margin-bottom: 10px;
}

.start {
  padding: 5px 14px;
  background-color: #2d2d2d;
  border-radius: 6px;
}

.start:hover {
  transform: scale(1.02);
  background-color: #484141;
}

.game-wrapper {
  width: 890px;
  border: 1px solid white;
  background-color: #000000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Roboto', sans-serif;
}

.game {
  padding: 20px;
  padding-bottom: 0;
  background-color: #000000;
}

.game-top {
  display: flex;
  justify-content: space-between;
}

.game-board {
  min-width: 800px;
  max-width: 800px;
  height: 560px;
  border: 1px solid white;
  background-color: #000000;
}

.game-board ul {
  display: flex;
}

.cell {
  width: 8px;
  height: 8px;
  border-radius: 3px;
  background-color: #000000;
}

.cell.alive {
  background-color: grey;
}

.cell.alive.red {
  background-color: red;
  box-shadow: inset 0px 0px 1px 1px #610000;
}

.cell.alive.blue {
  background-color: #00b6ff;
  box-shadow: inset 0px 0px 1px 1px #003f90;
}

.cell.alive.green {
  background-color: #00fd00;
  box-shadow: inset 0px 0px 1px 1px #005800;
}

.cell.alive.orange {
  background-color: orange;
  box-shadow: inset 0px 0px 1px 1px #714900;
}

.cell.alive.purple {
  background-color: #e600ff;
  box-shadow: inset 0px 0px 1px 1px #4a0052;
}

.cell.alive.yellow {
  background-color: yellow;
  box-shadow: inset 0px 0px 1px 1px #6b6b00;
}

.game-sidebar-options {
  font-size: 28px;
  text-align: right;
}

.game-sidebar-options > i {
  margin-bottom: 15px;
}

.game-bottom {
  display: flex;
  justify-content: space-between;
  height: 50px;
  font-size: 24px;
  align-items: center;
  padding: 5px 0;
}

.game-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.game-controls-play i:first-child {
  margin-right: 15px;
}

i:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.game-controls-speed {
  width: 40%;
}

.speed-range {
  width: 100%;
}

.game-rules {
  transform: translate(0%, -20%);
  width: 190px;
}

.sidebar {
  position: absolute;
  height: 100%;
  width: 113px;
  top: -1px;
  left: 100%;
  background-color: #000000;
  border: 1px solid;
  border-left: none;
  font-size: 34px;
  z-index: -1;
}


.sidebar-inner {
  padding: 20px;
  padding-top: 10px;
  position: relative;
}

.sidebar i {
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 39px;
  padding: 10px 7px;
  border: 2px solid transparent;
  border-radius: 25px;
}

.sidebar i > div {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 11px;
  font-weight: 600;
  text-align: left;
  background: white;
  border-radius: 6px;
  color: black;
  padding: 5px 8px;
  white-space: nowrap;
  transition:visibility 0.3s linear,opacity 0.3s linear;
}

.sidebar i:hover > div {
  visibility: visible;
  opacity: 1;
}

.sidebar .active-action {
  border: 2px solid #fff;
}

.sidebar.hide{
  display: none;
}
