.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #181616;
  z-index: -1;
}

.title-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -150%);
  color: white;
  font-family: 'Roboto', sans-serif;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-wrapper.hide {
  display: none;
  z-index: -1;
}

.title {
  font-size: 62px;
  margin-bottom: 10px;
}

.start {
  padding: 5px 14px;
  background-color: #2d2d2d;
  border-radius: 6px;
}

.start:hover {
  transform: scale(1.02);
  background-color: #484141;
}

.game-wrapper {
  width: 890px;
  border: 1px solid white;
  background-color: #000000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Roboto', sans-serif;
}

.game {
  padding: 20px;
  padding-bottom: 0;
  background-color: #000000;
}

.game-top {
  display: flex;
  justify-content: space-between;
}

.game-board {
  min-width: 800px;
  max-width: 800px;
  height: 560px;
  border: 1px solid white;
  background-color: #000000;
}

.game-board ul {
  display: flex;
}

.cell {
  width: 8px;
  height: 8px;
  border-radius: 3px;
  background-color: #000000;
}

.cell.alive {
  background-color: grey;
}

.game-sidebar-options {
  font-size: 28px;
  text-align: right;
}

.game-sidebar-options > i {
  margin-bottom: 15px;
}

.game-bottom {
  display: flex;
  justify-content: space-between;
  height: 50px;
  font-size: 24px;
  align-items: center;
  padding: 5px 0;
}

.game-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.game-controls-play i:first-child {
  margin-right: 15px;
}

i:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.game-controls-speed {
  width: 40%;
}

.speed-range {
  width: 100%;
}

.game-rules {
  transform: translate(0%, -20%);
      width: 90px;
}

.sidebar {
  position: absolute;
  height: 100%;
  width: 113px;
  top: -1px;
  left: 100%;
  background-color: #000000;
  border: 1px solid;
  border-left: none;
  font-size: 34px;
  z-index: -1;
}

.sidebar-inner {
  padding: 20px;
}

.sidebar i {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

.sidebar.hide{
  display: none;
}
